[package]
name = "primitives"
version = "0.1.0"
edition = "2021"

[lib]
name = "primitives"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.27", features = ["extension-module"] }
numpy = "0.27"

[profile.release]
opt-level = 3
lto = "fat"
codegen-units = 1
